.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 6vh;
  pointer-events: none;
}

.App-logo.nav-logo {
  height: 8vh;
}

.App-logo.Loading {
  height: 15vh;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.95);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 950px) {
  .hide-on-small {
    display:none
  }
}